In [1]:
import os
import pandas as pd
import numpy as np
from nonPersonalized import (
    recommend_what_others_are_reading, recommend_buzzing_books, recommend_page_turners,
    recommend_popular_books, recommend_trending_books, recommend_trending_by_interactions,
    recommend_weighted_books, recommend_bayesian_books, get_recommendations, genre_recommender_interface)

Loaded books from books.pkl
Loaded books_children from books_children.pkl
Loaded books_comics from books_comics.pkl
Loaded books_fantasy from books_fantasy.pkl
Loaded books_history from books_history.pkl
Loaded books_joined_clean from books_joined_clean.pkl
Loaded books_mystery from books_mystery.pkl
Loaded books_poetry from books_poetry.pkl
Loaded books_romance from books_romance.pkl
Loaded books_young_adult from books_young_adult.pkl
Loaded reviews from reviews.pkl
Loaded reviews_added_clean from reviews_added_clean.pkl
Loaded reviews_added_mapped from reviews_added_mapped.pkl
Loaded reviews_read_clean from reviews_read_clean.pkl
Loaded reviews_read_mapped from reviews_read_mapped.pkl
Loaded reviews_started_clean from reviews_started_clean.pkl
Loaded reviews_started_mapped from reviews_started_mapped.pkl
Loaded user_interaction from user_interaction.pkl

In [ ]:
# define directory for MainData
DIR = os.path.join(os.getcwd(), "Data")
MAIN_PICKLE_DIR = os.path.join(DIR, "MainData")

# load all pickle datasets from MainData
def load_main_pickles(pickle_dir=MAIN_PICKLE_DIR):
    datasets = {}
    for file in os.listdir(pickle_dir):
        if file.endswith(".pkl"):
            name = file.replace(".pkl", "")
            datasets[name] = pd.read_pickle(os.path.join(pickle_dir, file))
            print(f"Loaded {name} from {file}")
    return datasets

# dictionary 
main_datasets = load_main_pickles()

Loaded books from books.pkl
Loaded books_children from books_children.pkl
Loaded books_comics from books_comics.pkl
Loaded books_fantasy from books_fantasy.pkl
Loaded books_history from books_history.pkl
Loaded books_joined_clean from books_joined_clean.pkl
Loaded books_mystery from books_mystery.pkl
Loaded books_poetry from books_poetry.pkl
Loaded books_romance from books_romance.pkl
Loaded books_young_adult from books_young_adult.pkl
Loaded reviews from reviews.pkl
Loaded reviews_added_clean from reviews_added_clean.pkl
Loaded reviews_added_mapped from reviews_added_mapped.pkl
Loaded reviews_read_clean from reviews_read_clean.pkl
Loaded reviews_read_mapped from reviews_read_mapped.pkl
Loaded reviews_started_clean from reviews_started_clean.pkl
Loaded reviews_started_mapped from reviews_started_mapped.pkl
Loaded user_interaction from user_interaction.pkl

In [3]:
books_joined_clean = main_datasets["books_joined_clean"]

In [4]:
reviews = main_datasets["reviews"]

In [5]:

reviews_started_clean = main_datasets["reviews_started_clean"]
reviews_added_clean   = main_datasets["reviews_added_clean"]
reviews_read_clean    = main_datasets["reviews_read_clean"]

In [6]:
books_children    = main_datasets["books_children"]
books_comics      = main_datasets["books_comics"]
books_fantasy     = main_datasets["books_fantasy"]
books_history     = main_datasets["books_history"]
books_mystery     = main_datasets["books_mystery"]
books_poetry      = main_datasets["books_poetry"]
books_romance     = main_datasets["books_romance"]
books_young_adult = main_datasets["books_young_adult"]

In [23]:
# display general recommendations with transparent labels
print("The Most Popular Books:")
recommend_popular_books(books_joined_clean, n=5)[["title", "name"]]

The Most Popular Books:

                                            title                     name
62674        Catching Fire (The Hunger Games, #2)          Suzanne Collins
98320                         Water for Elephants               Sara Gruen
6669                            The Secret Garden  Frances Hodgson Burnett
87673                        Tuesdays with Morrie              Mitch Albom
81832  The Two Towers (The Lord of the Rings, #2)           J.R.R. Tolkien

In [25]:

print("\nThe Most Populat Books Within The Last 2 Years:")
recommend_trending_books(books_joined_clean, years=2, n=5)[["title", "name"]]

The Most Populat Books Within The Last 2 Years:

                                               title                 name
17598                      A Midsummer Night's Dream  William Shakespeare
44648         Queen of Shadows (Throne of Glass, #4)        Sarah J. Maas
23602                           Thirteen Reasons Why            Jay Asher
9869   Dead Wake: The Last Crossing of the Lusitania          Erik Larson
82995                                    Lilac Girls    Martha Hall Kelly

In [10]:


print("\nTHE MOST INTERACTED WITH NOW:")
recommend_trending_by_interactions(reviews, books_joined_clean, date_col="date_added", lastdays=90, n=5)[["title", "name", "recent_interactions"]]

THE MOST INTERACTED WITH NOW:

c:\Users\nourh\Documents\GoodReadsRecommendationSystem\nonPersonalized.py:89: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  dataset[date_col] = pd.to_datetime(dataset[date_col], errors="coerce", utc=True)

                                title              name  recent_interactions
461                   The Hate U Give      Angie Thomas                    4
470                One of Us is Lying  Karen M. McManus                    4
750      Murder on the Orient Express   Agatha Christie                    3
278  List en Leugens (De Kraaien, #1)     Leigh Bardugo                    3
165             Ingenting och allting       Nicola Yoon                    3

In [11]:

print("\nCommunity Favorites:")
recommend_weighted_books(books_joined_clean, w1=0.5, w2=0.5, n=5)[["title", "name", "weighted_score"]]

Community Favorites:

,title,name,weighted_score
62674,"Catching Fire (The Hunger Games, #2)",Suzanne Collins,0.930000
98320,Water for Elephants,Sara Gruen,0.698941
6669,The Secret Garden,Frances Hodgson Burnett,0.587822
81832,"The Two Towers (The Lord of the Rings, #2)",J.R.R. Tolkien,0.574095
87673,Tuesdays with Morrie,Mitch Albom,0.560630

In [12]:
print("\nTop Picks:")
recommend_bayesian_books(books_joined_clean, n=5)[["title", "name", "bayesian_score"]]

Top Picks:

,title,name,bayesian_score
89880,"Harry Potter Boxed Set, Books 1-5 (Harry Potte...",J.K. Rowling,4.761432
52526,"The Absolute Sandman, Volume Four",Neil Gaiman,4.676046
68863,"The Absolute Sandman, Volume Three",Neil Gaiman,4.665493
30088,Harry Potter: The Complete Collection,J.K. Rowling,4.663546
54715,"J. R. Ward Collection: Black Dagger #1,3,5,6 &...",J.R. Ward,4.624839

In [ ]:
# started reading
print("\nWhat Others Are Reading:")
recommend_what_others_are_reading(reviews_started_clean, n=5)[["title", "name", "started_count"]]

What Others Are Reading:

,title,name,started_count
19711,Harry Potter i Przeklęte Dziecko,John Tiffany,46
19710,"Harry Potter e a criança amaldiçoada, partes u...",John Tiffany,46
1983,En Flænge i Himlen,John Green,45
1984,Aynı Yıldızın Altında,John Green,45
13376,The Girl on the Train,Paula Hawkins,40

In [ ]:
#buzzing 
print("\nBuzzing Books:")
recommend_buzzing_books(reviews_added_clean, n=5)[["title", "name", "review_count"]]

Buzzing Books:

                                   title             name  review_count
3293                  En Flænge i Himlen       John Green            80
3294               Aynı Yıldızın Altında       John Green            80
45678  Mockingjay (The Hunger Games, #3)  Suzanne Collins            70
45679    Kosogłos (Igrzyska śmierci, #3)  Suzanne Collins            70
29724     Hunger Games (Hunger Games #1)  Suzanne Collins            66

In [15]:
print("\nPage Turners:")
recommend_page_turners(reviews_read_clean, n=5)[["title", "name", "finished_count"]]

Page Turners:

                                   title             name  finished_count
2747                  En Flænge i Himlen       John Green              68
2748               Aynı Yıldızın Altında       John Green              68
38671    Kosogłos (Igrzyska śmierci, #3)  Suzanne Collins              59
38670  Mockingjay (The Hunger Games, #3)  Suzanne Collins              59
18217                  Момичето от влака    Paula Hawkins              54

In [22]:
genre_recommender_interface()

Available genres:
 -> children
 -> comics
 -> fantasy
 -> history
 -> mystery
 -> poetry
 -> romance
 -> young_adult

Top recommended books:
                                                   title  \
2749                                            Watchmen
588                     Opráski sčeskí historje f koztce
72773                    Lost Cactus: The First Treasury
59136          Myst: The Book of Atrus - A Graphic Novel
14978  Little Lulu, Volume 24: The Space Dolly and Ot...

                                                 authors
2749   [{'author_id': '3961', 'role': ''}, {'author_i...
588               [{'author_id': '9829492', 'role': ''}]
72773  [{'author_id': '14250318', 'role': 'Illustrato...
59136             [{'author_id': '7267684', 'role': ''}]
14978  [{'author_id': '113110', 'role': ''}, {'author...